/* #region: master header+footer */
body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    overflow-y: scroll;
}

nav .nav-item {
    letter-spacing: 1px;
    font-size: 110%;
}

nav .label {
    padding-bottom: 0.2em;
}

nav .logo-outer {
    background-color: #337ab7;
    font-size: 120%;
}

nav .logo-inner {
    background-color: #d9534f;
    position: relative;
    top: -2px;
    margin-left: 0.6em;
}

body > .container {
    max-width: 96vw;
    margin-bottom: 1em;
}

body > .container > .breadcrumb {
    display: none;
}

body > .container > .content > h1:first-child {
    margin-top: 0;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 1em;
    background-color: #eee;
}

footer img {
    height: 20px;
    margin-left: 6px;
    vertical-align: top;
    width: auto;
}
/* #endregion */

/* #region: article content */
article h1:first-child {
    margin-bottom: 0.67em;
}

article blockquote {
    border-left: 5px solid #999;
    color: #666;
    font-size: inherit;
    margin: 0 0 20px 10px;
    padding: 5px 20px;
}

article img {
    display: block;
    margin: 0;
    padding: 0.5em;
    min-height: 100px;
    min-width: 100px;
    max-width: 100%;
}

article .doc_tags pre {
    white-space-collapse: collapse;
    padding: 3px; & ul {margin-bottom: 0;}
}

article dd {
    margin-left: 2em;
}

    /* #region: tables */
    main.content table {
        border: 1px solid #ddd;
        width: 100%;
    }
    main.content table td {
        line-height: 1.42857;
        padding: 0.4em;
        vertical-align: top;
    }
    article.content table td {
        border: 1px solid #ddd;
    }
    main.content table th:empty,
    main.content table td:empty {
        display: none;
    }
    main.content table td:empty {
        border-left: none;
    }
    /* #endregion */

/* #endregion */

/* #region: page components */

    /* #region: link-box */
    div:has(> .link-box) {
        display: flex;
        align-items: stretch;
        flex-flow: row wrap
    }
    .link-box {
        padding: 9px;
    }
    .link-box a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 4px;
        height: 100%;
        overflow: clip;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }
    .link-box a:hover {
        border-color: #337ab7;
        text-decoration: none;
    }
    .link-box ul {
        color: #777;
        min-height: 9em;
        padding-left: 20%;
        text-align: left;
    }
    /* #endregion */

    /* #region: collapsible panels */
    .panel-heading[data-toggle] {
        cursor: pointer;
    }
    .panel-heading[data-toggle] h2 {
        display: inline-block;
    }
    .panel-heading[data-toggle]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e026";
        float: right;
        scale: 1.5;
    }
    .panel-heading[data-toggle].collapsed:after {
        content: "\e027" !important;
    }
    /* #endregion */

    /* #region: table of contents */
    #generated-toc > ul {
        margin: 0;
    }
    #generated-toc > ul ul {
        padding-left: 2em;
    }
    #generated-toc a {
        display: block;
    }
    @media (max-width:767px){
        #generated-toc > ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6px 2em;
        }
    }
    #panel-wrap-toc:has(#generated-toc:empty) {
        border: none;
        & > #panel-heading-toc {
            opacity: 0.4; border: none; &::after{content:"\e088";}
            &, & > h2 {pointer-events: none; text-decoration: line-through;}
        }
        & > #panel-toc {display: none !important;}
    }
    /* #endregion */

/*  #endregion */
