{{ partial "header.html" . }}

    <article class="content">
        <h1>{{ .Title }}</h1>

        <div class="row content">
            <div class="col-xs-12 col-sm-5 col-md-4 pull-right">
                <div id="panel-wrap-toc" class="panel panel-primary toc">
                    <div id="panel-heading-toc" class="panel-heading" data-toggle="collapse" data-target="#panel-toc" aria-expanded="true">
                        <h2 class="panel-title">Table of Contents</h2>
                    </div>
                    <div id="panel-toc" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="#panel-heading-toc">
                        <div id="generated-toc"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-8">
                <ul class="breadcrumb tags">
                    Tagged with:
                    {{ range .Params.tags }}
                    <li><a class="label label-default" href="../../{{ replace (urlize .) "---" "-" }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            </div>

            <main id="content" class="content panel-body">
                {{ .Content }}
            </main>
        </div>

    </article>

{{ partial "footer.html" . }}
