{{ partial "header.html" . }}

    <article class="content">
        <h1>{{ .Title }}</h1>

        <div class="row content">

            <div  class="doc_tags col-xs-12 col-sm-7 col-md-8">
                <pre>
                    <ul class="breadcrumb">
                        <li><a href="/wiki/" style="font-size: 50%;">Wiki#Tags</a> ~ </li>
                        <span></span>
                        {{ range .Params.tags }}
                        <li><a class="label label-default" href="../../{{ replace (urlize .) "---" "-" }}">{{ . }}</a></li>
                        {{ end }}
                        <span class="pull-right">Published: {{ .Date.Format "2006-01-02" }}</span>
                    </ul>
                </pre>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-4 pull-right">
                <div id="panel-wrap-toc" class="panel panel-primary toc">
                    <div id="panel-heading-toc" class="panel-heading" data-toggle="collapse" data-target="#panel-toc" aria-expanded="true">
                        <h2 class="panel-title">Table of Contents<i aria-hidden="true" class="glyphicon glyphicon-th-list pull-left"></i></h2>
                    </div>
                    <div id="panel-toc" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="#panel-heading-toc">
                        <div id="generated-toc"></div>
                    </div>
                </div>
            </div>

            <main id="content" class="content panel-body">
                {{ .Content }}
            </main>
        </div>

    </article>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", ()=>{
            (window["headings"] ?? []).forEach((h)=>{h.innerHTML += `<a href="#${h.id}"><i class="glyphicon glyphicon-link"></i></a>`;})
        });
    </script>

{{ partial "footer.html" . }}
