{{ partial "header.html" . }}

    <main class="content">
        <h1>{{ .Title }}</h1>
        <div class="row">
            <div class="col-sm-8 panel">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th class="text-center">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ $compare := .Title }}
                        {{ range $term, $terms := .Site.Taxonomies.tags }}
                        {{ if eq $term $compare }}
                            {{ range sort $terms.Pages "LinkTitle" "asc" }}
                            <tr>
                                <td><a href="{{ .Permalink}}" class="btn-block">{{ .LinkTitle }}</a></td>
                                <td>
                                    <ul class="list-group-item-text list-inline text-center">
                                        {{ range $type, $val := .Params.tags }}
                                            {{ if gt (len $val) 2 }}
                                                <li>
                                                    <a class="label label-default" href="../{{ replace (urlize .) "---" "-" }}">{{ . }}</a>
                                                </li>
                                            {{ else }}
                                                <span class="text-muted glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            {{ end }}
                                        {{ end }}
                                    </ul>
                                </td>
                            </tr>
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div id="panel-heading-info" class="panel-heading" data-toggle="collapse" data-target="#panel-info" aria-expanded="true">
                        <h2 class="panel-title">Topics Covered</h2>
                    </div>
                    <div id="panel-info" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="#panel-heading-info">
                        <div>
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{{ partial "footer.html" . }}
