
    </div>

    <footer>
        Website retired May 2025. Works released to <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="license noopener noreferrer">CC0 1.0<img style="height:20px;margin-left:6px;vertical-align:top;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="CC"><img style="height:20px;margin-left:6px;vertical-align:top;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg" alt="0"></a>
    </footer>

    </body>
</html>
