

        </div>
        
        <div style="margin:2em 0 1em;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8565564742755576"
                    crossorigin="anonymous"></script>
            <!-- Responsive - Text+Display -->
            <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-8565564742755576"
                    data-ad-slot="4327851087"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        
    </div>

    <footer>
        <div class="container">
            <p>Wiki no longer actively maintained - Admin (<a href="http://www.patrol4x4.com/forum/members/nerok-3286/" target="_blank">neRok</a>)</p>
            <p>Original content Copyright&ensp;<a target="_blank" class="label label-primary" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></p>
        </div>
    </footer>

    </body>
</html>
