<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    <link rel="shortcut icon" type="image/png" href="{{ "favicon.png" | relURL }}"/>
    
    <link rel="stylesheet" href="{{ "css/bootstrap.css" | relURL }}" type="text/css" />
    <link rel="stylesheet" href="{{ "css/theme.css" | relURL }}" type="text/css" />

    <script type="text/javascript" src="{{ "js/jquery.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "js/bootstrap.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "js/generated_toc.js" | relURL }}"></script>

</head>

<body class=" view-default ">

    <nav class="navbar navbar-static-top navbar-inverse" role="navigation" id="navbar-view">
        <div class="container"><div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-view-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="{{ .Title }}">
                <span class="label logo-outer">MQ<span class="label logo-inner">Patrol</span></span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar-view-collapse" class="collapse navbar-collapse">
                <ul class="navbar-nav nav">
                    {{ $currentNode := . }}
                    {{ range .Site.Menus.main }}
                        <li class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}">
                            <a class="nav-link" href="{{.URL}}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
                <div class="navbar-nav col-md-6 navbar-right">
                    <div class="navbar-form">
                        <div class="input-group col-xs-12 has-feedback navbar-right">
                            <input type="text" class="form-control">
                            <i aria-hidden="true" class="glyphicon glyphicon-search form-control-feedback"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    </nav>

    <div class="container">

        {{ if .IsPage }}
            <ol class="breadcrumb well well-sm">
                <li><a href="{{ absURL "/" }}">Home</a></li>
                {{ $.Scratch.Add "path" .Site.BaseURL }}
                {{ range $index, $element := split .RelPermalink "/" }}
                    {{ $.Scratch.Add "path" $element }}
                    {{ if ne $element "" }}
                    {{ $title := title (replace . "-" " ") }}
                        {{ $title := replace $title "Sd33" "SD33" }}
                        {{ $title := replace $title "33t" "33T" }}
                        {{ $title := replace $title "Mq" "MQ" }}
                        {{ $title := replace $title "Mk" "MK" }}
                        {{ $title := replace $title "Gq" "GQ" }}
                        {{ $title := replace $title "Gu" "GU" }}
                        {{ $title := replace $title "Efi" "EFI" }}
                    <li><a href="{{ $.Scratch.Get "path" }}/">{{ $title }}</a></li>
                    {{ $.Scratch.Add "path" "/" }}
                    {{ end }}
                {{ end }}
            </ol>
        {{ end }}
