{{ partial "header.html" . }}

    <style>
        h1 {text-align: center; width: 100%;} h1 span {color: #555; font-size: 90%;} .thumbnail {margin-bottom: 0;}
        div.blocks > div {display: flex; flex-flow: row nowrap; justify-content: stretch; align-items: stretch; gap: 1em; text-align: center; width: 100%; margin: 2em 0;}
        img {object-fit: contain; width: 100%;} img.green160 {padding-top: 10px; width: 80%;} img.safari {padding: 0 20px 0 0px; width: 78%;}
        @media (max-width:992px) {
            div.blocks {display: flex; gap: 1em;} div.blocks > div {flex-flow: column nowrap; justify-content: space-evenly;}
            div.pics img {width: 100%;}
        }
    </style>

    <main class="content">

        <h1>Nissan 160 Patrol <span>(MQ & MK)</span></h1>

        <div class="blocks">
            <div class="pics">
                <img src="/literature-history_patrol.jpg" class="img-thumbnail green160">
                <img src="/literature-161_SWB_AD.jpg" class="img-thumbnail">
                <img src="/literature-safari.jpg" class="img-thumbnail safari">
            </div>

            <div class="links">
                <a href="/wiki/" class="thumbnail col-xs-12 col-md-4">
                    <h2>Wiki</h2>
                    <p class="panel-body">A collection of articles and guides gathered from fellow MQ enthusiasts.</p>
                </a>
                <a href="/service-manuals/" class="thumbnail col-xs-12 col-md-5">
                    <h2>Service Manuals</h2>
                    <p class="panel-body">An archive of factory service manuals for the vehicle and engines.</p>
                </a>
                <a href="/wiki/other/faq/" class="thumbnail col-xs-12 col-md-4">
                    <h2>Sitemap</h2>
                    <p class="panel-body">Start here to get answers to common problems and stuff.</p>
                </a>
            </div>
        </div>
    </main>
 
{{ partial "footer.html" . }}
