{{ partial "header.html" . }}

    <main class="content">
        
        <h1>{{ .Title }}</h1>

        <h2>Vehicle</h2>
        <div class="row">
            {{ range where (where .Site.Pages.ByTitle "Type" "ServiceManual") "Params.scope" "==" "Vehicle" }}
                <div class="col-xs-6 col-md-3 link_box">
                    <a href="{{ .RelPermalink }}">
                        <div><img src="{{ .RelPermalink }}/cover-small.jpg" alt="{{ .Title }}"></div>
                        <h2 class="h4 col-xs-10 col-md-12">{{ .Title }}</h2>
                        <button class="btn btn-primary" role="button">Browse</button>
                    </a>
                </div>
            {{ end }}
        </div>

        <h2>Engine</h2>
        <div class="row">
            {{ range where (where .Site.Pages.ByTitle "Type" "ServiceManual") "Params.scope" "==" "Engine" }}
                <div class="col-xs-6 col-md-3 link_box">
                    <a href="{{ .RelPermalink }}">
                        <div><img src="{{ .RelPermalink }}/cover-small.jpg" alt="{{ .Title }}"></div>
                        <h2 class="h4 col-xs-10 col-md-12">{{ .Title }}</h2>
                        <button class="btn btn-primary" role="button">Browse</button>
                    </a>
                </div>
            {{ end }}
        </div>

    </main>

{{ partial "footer.html" . }}
