{{ partial "header.html" . }}

<div class="inner-content">
    <article class="content custom-content-default-view">
        
        <h1 style="margin-left: 10px;">{{ .Title }}</h1>

        <div class="row" style="margin-left: 4px; margin-right: 4px;">
            
            {{ range where .Site.Pages.ByTitle "Type" "WikiCategory" }}
                <div class="col-xs-6 col-sm-4 col-md-3" style="padding-left: 4px; padding-right: 4px;">
                    <a href="{{ .RelPermalink }}" class="thumbnail text-center wiki">
                        <h2 class="h4">{{ .Title }}</h2>
                        <div>
                            {{ .Content }}
                        </div>
                        <button class="btn btn-primary" role="button">Browse '{{ .Title  }}'</button>
                    </a>
                </div>
            {{ end }}
        
        </div>

    </article>
</div>

{{ partial "footer.html" . }}
